---
title: About
call_to_action: Contact
background_image_path:
large_header: false
show_in_navigation: true
navigation_order: 1
---

<div class="editable">
	<p>
		Serving your community for over a century, Justice Law is committed to helping people through a number of services.
		Our services range from conveyancing, mortgages to family law. Our clients range from large businesses to first home buyers.
	</p>

	<p>Meet the members of our capable team:</p>
</div>

<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Update Staff Members</a></p>

<ul class="staff-list">
	{% for member in site.staff_members %}
		<li class="staff">
			<div class="staff-details">
				<div class="staff-image">
					<img src="{{ member.image }}" alt="Staff photo for {{ member.name }}" width="120" height="120">
				</div>
				<ul class="staff-info">
					<li>{{ member.name }}</li>
					<li><small>{{ member.credentials }}</small></li>
					<li><a href="tel:{{ site.data.company.contact_phone_number }}">{{ site.data.company.contact_phone_number }}</a>  ext {{ member.phone_extension }}</li>
				</ul>
			</div>

		</li>
	{% endfor %}
</ul>
